@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form method="post" asp-page-handler="create">
        <button class="btn btn-primary">Create Room</button>
    </form>

    <h4>Or</h4>
    
    <form method="post" asp-page-handler="join" class="form-inline justify-content-center">
        <div class="col-auto">
            <input type="text" name="roomId" placeholder="id here" class="form-control"/>
            <button class="btn btn-primary">Join</button>
        </div>
    </form>
</div>
