@page "{id}"
@model Pratz.Web.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}

<h1>Room <button class="btn btn-primary" data-toggle="modal" data-target="#qr-modal">QR core</button></h1>

<div class="modal fade" id="qr-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-fluid" src="/qrcode?room=@Model.Room.Id" alt="qrcode" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="room-members">
        <span>Members Connected</span>
        <div class="owner" data="@Model.Room.OwnerUserId">
            <div class="user"><i class="fa-solid fa-crown"></i> @Model.Room.OwnerName</div>
        </div>
        <div class="members">

        </div>
    </div>
    @if(Model.IsOwner)
    {
        <div class="vote-control">
            <form class="form-inline border-info">
                <div class="col-auto">
                    <button id="start-vote" class="btn btn-primary">Start New Vote</button>
                    <button id="show-votes" class="btn btn-success">Show Votes</button>
                </div>
            </form>
        </div>
        <div class="vote-responses">
        </div>
    }
    <div class="voting" style="display:none">
        <form class="form-inline">
            <div class="form-row">
                <div class="col-auto">
                    <input type="text" id="vote-value" placeholder="your vote" class="form-control"/>
                </div>
                <div class="col-auto">
                    <button id="submit-vote" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var roomId = '@Model.Room.Id';
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/room.js"></script>
}