@page "{id}"
@model Pratz.Web.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}

<h1>Room</h1>

<img class="qrcode" src="/qrcode?room=@Model.Room.Id" alt="qrcode" />

<div>
    <div class="room-members">
        <div class="owner" data="@Model.Room.OwnerUserId">
            <div class="user">(Owner) @Model.Room.OwnerName</div>
        </div>
        <div class="members">

        </div>
    </div>
    @if(Model.IsOwner)
    {
        <div class="vote-control">
            <form class="form-inline border-info">
                <div class="col-auto">
                    <button id="start-vote" class="btn btn-primary">Start New Vote</button>
                    <button id="show-votes" class="btn btn-success">Show Votes</button>
                </div>
            </form>
        </div>
        <div class="vote-responses">
        </div>
    }
    <div class="voting" style="display:none">
        <form class="form-inline">
            <div class="form-row">
                <div class="col-auto">
                    <input type="text" id="vote-value" placeholder="your vote" class="form-control"/>
                </div>
                <div class="col-auto">
                    <button id="submit-vote" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var roomId = '@Model.Room.Id';
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/room.js"></script>
}