@page "{id}"
@model Pratz.Web.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}

<h1>Room</h1>

<div>
    <div class="room-members">
        <div class="owner" data="@Model.Room.OwnerUserId">
            <div class="user">King @Model.Room.OwnerName</div>
        </div>
        <div class="members">

        </div>
    </div>
    @if(Model.IsOwner)
    {
        <div class="vote-control">
            <button id="start-vote">Start New Vote</button>
            <button id="show-votes">Show Votes</button>
        </div>
        <div class="vote-responses">
        </div>
    }
    <div class="voting" style="display:none">
        <input type="text" id="vote-value" placeholder="your vote" />
        <button id="submit-vote">Submit</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var roomId = '@Model.Room.Id';
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/room.js"></script>
}